*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('https://wallpaperaccess.com/full/4711385.jpg');
    background-color:white;
    background-repeat: no-repeat; 
   
    background-position: center;
    font-size: larger;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:black;

}
table{
    border-color: black;
}
h1{
    
    
    font-size: larger;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 30px;  
    margin-bottom: 30px;
}
.center
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
img{
    margin-left:auto;
    margin-right:auto ;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;

}
body .aboutme{
   margin: 30px;
   
    color: black;
    border-radius: 20px;
    padding: 10px;
}
.aboutme img
{
    width: 100px;
    display:block;
    margin-left: auto ;
    margin-right: auto;
    margin-bottom: 10px;
   border-radius: 10px;
}
.bm{
    padding: 15px;
}
