*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(https://wallpaperaccess.com/full/2877459.jpg);
    background-color:white;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    font-size: larger;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}
h1{
    
    
    font-size: larger;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-top: 30px;  
    margin-bottom: 30px;
}
.center
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
img{
    margin-left:auto;
    margin-right:auto ;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: yellow;

}
body .aboutme{
   margin: 30px;
    background-color:white;
    color: black;
   
    border-radius: 20px;
}
